@import "tailwindcss";

:root {
  --background: #12141f;
  --foreground: #ededed;
  --font-space-mono: var(--font-mono-font);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --font-body: var(--font-roboto)
}

@utility scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 0.5rem !important;
  }

  scrollbar-width: thin;
  /* scrollbar-gutter: stable; */
}

* {
  /* width */
  &::-webkit-scrollbar {
    width: 0.5rem !important;
  }
  scrollbar-width: thin;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
}
